<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">

  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/auth.js"></script>
  <script src="/js/eventList.js"></script>

  <title>Inspection Status Event List</title>
</head>
<body>

<div class="container">
  <h2>Inspection Status Event List</h2>
  <div class="list-group">
    {{#each entries}}
      <a href="/{{id}}" class="list-group-item">{{value}} ({{id}})</a>
    {{/each}}
  </div>
</div>
<footer class="footer">
  <div class="container">
    <p class="pull-right text-muted">
      <button type="button" class="btn btn-link" id="loginModalButton">Login</button>
      <button type="button" class="btn btn-link" id="createModalButton">Add Event</button>
    </p>
  </div>
</footer>

<div class="modal fade" tabindex="-1" role="dialog" id="createModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Add Event</h4>
    </div>
    <div class="modal-body">
    <form id="createForm">
      <div class="form-group">
        <label for="createForm-key">Key</label>
        <input name="key" id="createForm-key" type="text" class="form-control" placeholder="il-cmp-resq" required>
      </div>
      <span id="createError" class="error text-danger"></span>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Save</button>
    </form>
    </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{{> loginDialog}}

</body>
</html>
