<div class="modal fade" tabindex="-1" role="dialog" id="loginModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Sign in</h4>
        </div>
        <div class="modal-body">
          <ul class="nav nav-tabs" role="tablist">
            <li class="active"><a href="#loginTab" data-toggle="tab" id="loginTabHandle">Login</a></li>
            <li><a href="#registerTab" data-toggle="tab" id="registerTabHandle">Register</a></li>
          </ul>
          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="loginTab">
              <form id="loginForm">
                <div class="form-group">
                  <label for="inputEmail" class="sr-only">Username</label>
                  <input name="name" type="text" id="inputEmail" class="form-control" placeholder="Username" required>
                </div>
                <div class="form-group">
                  <label for="inputPassword" class="sr-only">Password</label>
                  <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                </div>
                <span id="loginError" class="error text-danger"></span>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
              </form>
            </div>
            <div role="tabpanel" class="tab-pane" id="registerTab">
              <form id="registerForm">
                <div class="form-group">
                  <label for="registerForm-name">Username</label>
                  <input name="name" type="text" id="registerForm-name" class="form-control" required>
                </div>
                <div class="form-group">
                  <label for="registerForm-password">Password</label>
                  <input name="password" type="password" id="registerForm-password" class="form-control" required>
                </div>
                <div class="form-group">
                  <label for="registerForm-passwordConfirm">Password confirmation</label>
                  <input name="password" type="password" id="registerForm-passwordConfirm" class="form-control" required>
                </div>
                <span id="registerError" class="error text-danger"></span>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
              </form>
            </div>
          </div>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->